<h3 mat-dialog-title>Edit item</h3>
<div mat-dialog-content>
  <form class="edit-items-form">
    <mat-form-field class="full-width">
      <mat-label>Name</mat-label>
      <input matInput name="itemName" required
             [(ngModel)]="data.name" #name>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput name="itemDescription" required
                placeholder="Item description" [(ngModel)]="data.description" #description></textarea>
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Price</mat-label>
      <input matInput name="itemPrice" required
             placeholder="{{ '10.99' }}" [(ngModel)]="data.price" #price="ngModel">
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
    </div>
  </form>

</div>

